.vscode/settings.json
__pycache__/test_example.cpython-39.pyc
__pycache__/tests.cpython-39.pyc
.vscode/launch.json
__pycache__/EZ_DXF.cpython-39.pyc
__pycache__/dxf_import_export.cpython-39.pyc
__pycache__/dxf.cpython-39.pyc
__pycache__/importer.cpython-39.pyc
__pycache__/importer_tests.cpython-39.pyc
__pycache__/geometry_to_line.cpython-39.pyc
.gitignore
.gitignore
__pycache__/text.cpython-39.pyc
__pycache__/alphabet_to_line.cpython-39.pyc
__pycache__/main_tester.cpython-39.pyc
__pycache__/importer.cpython-38.pyc
